PORT=4000
MONGO_URI=mongodb+srv://sumitraj00736_db_user:sumitraj12345@cluster0.r4yyg1e.mongodb.net/
JWT_SECRET=i am a secret key for jwt token generation and verification
CLDNRY_CLOUD_NAME=
CLDNRY_API_KEY=
CLDNRY_API_SECRET=
